Source: waytrogen
Priority: Optional
Section: utilities
Maintainer: nikolaizombie1 <fabio.matos999@gmail.com>
Build-Depends: debhelper-compat (= 13), openssl, libsqlite3-0, libsqlite3-dev, pkg-config, ninja-build, cargo, meson
Standards-Version: 4.6.2
Rules-Requires-Root: no
Description: Lightning fast wallpaper setter for Wayland Compositors
Homepage: https://github.com/nikolaizombie1/waytrogen

Package: waytrogen
Architecture: any
Depends: ${shlibs:Depends}
Description: Wayland wallpaper manager
 Waytrogen is a wallpaper manager for Wayland compositors,
 written purely in Rust.